.panel{
    padding-top: 30px;
    color: white;
}
.panel img{
    width: 100%;
}
.panel .name{
    text-align: center;
}
.personal-info{
    margin: 0px 5px;
    padding: 10px 30px;
    border-radius: 20px;
}
.month{
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(58, 57, 77);
    border-radius: 20px;
}
.info span{
    font-size: 25px;
}
.break-section h3{
    text-align: center;
}
.break-times{
    background-color: rgb(58, 57, 77);
    margin: 30px 35px;
    display: flex;
    padding: 10px 0px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.break-times button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    color: black;
    font-weight: 600;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}


.break-times button:hover{
    color: white;
    background-color: rgb(244, 55, 55);
}

.task-details-section h3{
    text-align: center;
}

.task-time-panel,.break-time-panel{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 10px 35px;
    color: black;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
}
.finish-tasks{
    display: block;
    margin: auto;
    width: 83%;
    padding: 15px;
    margin-top: 50px;
    border-radius: 15px;
    color: white;
    border: none;
    font-weight: 600;
    background-color: rgb(226, 56, 56);
}

.finish-tasks:hover{
    background-color: rgb(244, 55, 55);
}

@media only screen and (max-width:667px){
    .finish-tasks{
        margin-bottom: 40px;
    }
}
