.header{
    background-color: rgb(27, 26, 40);
    padding: 10px;
}
.header h2{
    color: white;
    text-align: center;
    font-weight: 600;
    padding-top: 30px;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(27, 26, 40);
}

.tasks-container{
    margin-left: 230px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.panel-container{
    top: 0;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 550px;
    margin-right: 130px;
    background-color: #2f2e3d;
    border-radius: 20px;
}

/* Mobile Screen Size: 576px  */
/* Styling for I-Phone 12 Pro */
@media only screen and (max-width:667px){
    .dashboard-container{
        grid-template-columns: repeat(1,1fr);
    }
    .tasks-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 45px ;
    }
    .panel-container{
        width: 350px;
        margin-left: 20px;
    }
}