.dashboard-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(27, 26, 40);
}

.tasks-container{
    margin-left: 230px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.panel-container{
    top: 0;
    width: 400px;
    margin-top: 150px;
    margin-bottom: 550px;
    margin-right: 130px;
    background-color: #2f2e3d;
    border-radius: 20px;
}