.dashboard-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(27, 26, 40);
}

.tasks-container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}